.tabmenu {
	:deep(.el-tabs) {
		padding: 0 10px;
		.el-tabs--card > .el-tabs__header {
			box-sizing: border-box;
			height: 40px;
			padding: 0 14px;
			margin: 0;
		}
		.el-tabs__header {
			margin: 0;
			border: none;
		}
		.el-tabs__nav {
			border: none;
		}
		.el-tabs__item {
			border: none;
			.tabs-icon {
				top: 2px;
			}
		}
		.el-tabs__item.is-active.is-closable {
			padding-right: 20px;
			padding-left: 20px;
		}
		.el-tabs__item.is-active {
			color: var(--el-color-primary);
			border-bottom: 2px solid var(--el-color-primary);
		}
	}
}
